<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <!-- Default Statcounter code for Blog https://blog.ludovic.dev -->
    <script type="text/javascript">var sc_project=12392901;var sc_invisible=1;var sc_security="b0e008c0";var sc_https=1;</script>
    <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
    <!-- End of Statcounter Code -->
  </body>

</html>
